#primary {
  @media screen and (max-width: $screen-md){
    padding: 10px 0;
  }
}
.dropdown-menu {
  li {
    a {
      text-transform: uppercase!important;
    }
  }
}

.elementor-heading-title, .widget-title {
  position: relative;
  text-align: center;
  border: none;
  padding: 0;
}
.elementor-widget-heading {
  margin-top: 30px;
}