header {
  &#site-header {
    border: none;
    ul {
      &.sub-menu {
        min-width: 100%;
      }
    }
    &.medium-header {
      .top-col.logo-col {
        text-align: left;
      }
      .oceanwp-mobile-menu-icon {
        text-align: right;
      }
    }
    #site-logo {
      #site-logo-inner {
        a {
          &:hover {
            img {
              @include opacity(initial);
            }
          }
        }
      }
    }
  }
}

