header {
  &#site-header {
    border: none;
    ul {
      &.sub-menu {
        width: 100%;
      }
    }
    &.medium-header {
      .top-col.logo-col {
        text-align: left;
      }
      .oceanwp-mobile-menu-icon {
        text-align: right;
      }
    }
  }
}
