.posts-slider {
  .slick-dots {
    position: relative;
    bottom: 0;
    @include display();
    border-top: 1px solid white;
    li {
      @include transition(.4s);
      background-color: black;
      @include flex(1);
      margin: 0 1px;
      &:first-child, &:last-child {
        margin: 0;
      }
      &:hover, &.slick-active {
        background-color: $secondary;
      }
      button {
        display: none;
      }
    }
  }
}
