.oceanwp-social-menu {
  &.simple-social {
    ul {
      display: inline-block;
      li {
        margin-bottom: 10px;
        a {
          font-weight: 500;
        }
      }
    }
  }
}

#site-header {
  .oceanwp-social-menu {
    &.simple-social {
      ul {
        li {
          a {
            &.oceanwp-logout, &.oceanwp-login, &.shop-link {
              background: $background-shop-btn-header;
              color: inherit !important;

              &:hover {
                background: darken($background-shop-btn-header, 10%);
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  .oceanwp-social-menu {
    display: block !important;
    float: none;
    &.simple-social {
      right: 0;
      .social-menu-inner {
        height: auto;
        @media screen and (max-width: $screen-xs) {
          @include justify-content(center);
        }
        ul {
          li {
            .shop-link {
              background: $background-shop-btn-footer;

              &:hover {
                background: darken($background-shop-btn-footer, 10%);
                color: inherit !important;
              }
            }
          }
        }
      }
    }
  }
}

.custom-icon {
  font-weight: bold;
  &.icon-fff {
    &:before {
      content: 'FFF';
    }
  }
  &.icon-district {
    &:before {
      content: '44';
    }
  }
}