body.single-equipe {
  #post-thumbnail-team {
    position: relative;
    .title {
      position: absolute;
      background: $primary;
      color: white;
      text-transform: uppercase;
      opacity: 0.7;
      bottom: 30px;
      left: 30px;
      padding: 0 10px ;
      margin: 0;
      @media screen and (max-width: $screen-sm) {
        bottom: 10px;
        left: 10px;
      }
    }
  }
  #convocations {
    padding: 20px;
    background: black;
    .team-name {
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      span {
        padding: 5px 20px;
        background: $primary;
        color: white;
      }
    }
    .details {
      padding: 20px;
      background: white;
      margin-top: 1em;
      dt {
        text-align: right;
        width: 60px;
        float: left;
        margin-right: 10px;
        &:after {
          content: ':';
          margin-left: 0.2em;
        }
      }
      dd {
        margin: 0;
      }
      .players {
        counter-reset: players;
        margin: 0;
        line-height: 2;
        li {
          list-style: none;
          &:before {
            content: counter(players);
            counter-increment: players;
            display: inline-block;
            width: 2em;
            color: white;
            font-weight: 500;
            text-align: center;
            background-color: $primary;
            vertical-align: middle;
            margin-right: 0.6em;
          }
        }
      }
    }
  }
}