$url-image : '/app/themes/oceanwp-child/assets/img/';

/**** Breakpoints ****/
$screen-xl: 1280px;
$screen-lg: 1080px;
$screen-md: 959px;
$screen-sm: 767px;
$screen-xs: 480px;
$screen-xxs: 320px;

/******* Colors *******/
$primary:   #e3001b;
$secondary: #c90104;
$grey:      #ebebeb
