.widget_asmf_events {
  #events-carousel {
    .slick-track {
      .event {
        .categories {
          .category {
            display: inline-block;
            background: $primary;
            color: white;
            font-weight: 500;
            padding: 0 8px;
            margin-right: 5px;
            margin-bottom: 5px;
          }
        }
        .date {
          color: $primary;
        }
        .title {
          font-weight: bold;
          font-size: 17px;
          text-transform: initial;
          color: $primary;
          margin-bottom: 0.3em;
        }
        .excerpt {
          font-size: .9em;
        }
      }
    }
  }
}