.widget_asmf_contact {
  .team {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: $primary;
    padding: 0 10px;
  }
  ul {
    line-height: 1.4em;
    li {
      .name {
        &:after {
          content: ':';
          margin: 0 5px;
        }
        .lastname {
          text-transform: uppercase;
        }
        .firstname {
          text-transform: capitalize;
        }
        @media screen and (max-width: $screen-xs){
          display: block;
        }
      }
      .phone {
        display: inline-block;
      }
    }
  }
}