#ocean_custom_menu-2 {
  background: $primary !important;
  .widget-title {
    color: white!important;
    &:before, &:after {
      background: white;
    }
  }
  #menu-classements {
    margin: 0 -30px;
    li {
      border-bottom: none;
      a {
        font-weight: 500;
        padding: 10px 60px;
        @media screen and (max-width: $screen-sm){
          padding: 10px 30px;
        }
        &:hover {
          background: $secondary;
        }
        .open-this {
          margin-right: 30px;
        }
      }
      .sub-menu {
        border-top: none;
      }
    }
  }
}
