// Import des mixins et des config de ocean wp
@import "../../../oceanwp/sass/mixins";
@import "../../../oceanwp/sass/config";

@import "sass/mixins";

/******* VARIABLES *******/
@import "sass/variables";

/******* GENERAL ********/
@import "sass/general";
@import "sass/social-icons";
@import "sass/login-button";
@import "sass/pagination";
@import "sass/entries";
@import "sass/meta";
@import "sass/title";
@import "sass/carousel";
@import "sass/slick";

/******** HEADER ********/
@import "sass/header";

/******** FOOTER ********/
@import "sass/footer";

/******** WIDGETS *******/
@import "sass/widget";
@import "sass/widget-contact";
@import "sass/widget-calendar";
@import "sass/widget-events";
@import "sass/widget-partners";
@import "sass/widget-ranks";

/**** MENU CATEGORIES ****/
@import "sass/menu-categories";

/******** CONTACT ********/
@import "sass/contact";

/******** EQUIPE *********/
@import "sass/team";

/******* PORTFOLIO *******/
@import "sass/photography-portfolio";

/****** POSTS SLIDER *****/
@import "sass/posts-slider";

