#form-contact {
  padding: 20px;
  background: black;
  color: white;
  label {
    color: white;
  }
  .form-group {
    &.has-error {
      .help-block {
        color: $primary;
      }
    }
  }
}