#footer {
  #footer-widgets {
    @media screen and (max-width: $screen-xs){
      padding-bottom: 0;
      text-align: center;
    }
    .footer-box {
      margin-bottom: 0!important;
      @media screen and (max-width: $screen-xs) {
        &:last-child {
          @include display();
          @include flex-direction(column-reverse);
        }
      }
    }
  }
}