#primary {
  @media screen and (max-width: $screen-md){
    padding: 10px 0;
  }
}
.text-primary {
  color: $primary
}
.text-secondary {
  color: $secondary
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.dropdown-menu {
  li {
    &.menu-item {
      border: none!important;
      a {
        text-transform: uppercase !important;
      }
    }
  }
}

.elementor-element-populated {
  padding: 0!important;
}
.elementor-section {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}