.oceanwp-post-list {
  max-width: 100%;
  .posts-slider {
    .slick-slide {
      .line {
        display: none;
      }
      .slide-overlay-wrap {
        text-align: left;
        padding: 50px;
        @media screen and (max-width: $screen-md) {
          padding: 30px;
        }
        @media screen and (max-width: $screen-sm) {
          padding: 20px;
        }
        .slide-overlay  {
          vertical-align: bottom;
          .oceanwp-post-date {
            display: none;
          }
          .oceanwp-post-category {
            @include border-radius(0);
            font-weight: 500;
            &:hover {
              background-color: $secondary;
              color: white;
              a {
                color: white;
              }
            }
            @media screen and (max-width: $screen-sm) {
              padding: 3px 7px;
            }
          }
          h2 {
            text-shadow: 0 0 3px #3b3b3b;
            font-size: 1em;
            @media screen and (min-width: $screen-sm) {
              font-size: 1.4em;
            }
            @media screen and (min-width: $screen-md) {
              font-size: 1.6em;
            }
          }
          .readmore {
            font-weight: 500;
            @include border-radius(0);
            background-color: $primary;
            color: white;
            border: none;
            &:hover {
              background-color: $secondary;
            }
            @media screen and (max-width: $screen-sm) {
              padding: 4px 10px;
            }
          }
        }
      }
    }
    .slick-dots {
      position: relative;
      bottom: 0;
      @include display();
      border-top: 1px solid white;
      li {
        @include transition(.4s);
        background-color: black;
        @include flex(1);
        margin: 0 1px;
        height: 10px;
        @media screen and (min-width: $screen-xs) {
          height: 20px;
        }
        &:first-child, &:last-child {
          margin: 0;
        }

        &:hover, &.slick-active {
          background-color: $secondary;
        }

        button {
          display: none;
        }
      }
    }
    &.slick-dotted {
      margin-bottom: 0;
    }
  }
}