.single.single-projet-educatif {
  .projet-educatif-documents {
    .projet-educatif-document {
      display: inline-block;
      text-align: center;
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}