.slick-slider {
  -webkit-touch-callout: initial!important;
  -webkit-user-select: initial!important;
  -moz-user-select: initial!important;
  -ms-user-select: initial!important;
  user-select: initial!important;
}
.menu-categories {
  .slick-dots {
    @include justify-content(center);
    li {
      button {
        &:hover {
          background-color: transparent;
          &:before {
            color: $secondary;
          }
        }
        &:before {
          opacity: 1;
          color: $primary;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: $secondary;
          }
        }
      }
    }
  }
}