.widget_asmf_calendar {
  #calendar-carousel {
    .slick-track {
      .slide-match {
        .slide-match-title {
          margin-bottom: 1em;
          text-align: center;
          span {
            display: inline-block;
            padding: 0 10px;
            background-color: $primary;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
        .match {
          text-align: center;
          &:not(:last-child) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $primary;
          }
          .teams {
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            .versus {
              font-size: .5em;
            }
            .team {
              position: absolute;
              top: 0;
              max-width: 50%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              &.team-1 {
                right: 50%;
                text-align: right;
                padding-right: 1em;
              }
              &.team-2 {
                left: 50%;
                text-align: left;
                padding-left: 1em;
              }
            }
          }
          .scores {
            position: relative;
            display: inline-block;
            font-weight: bold;
            color: white;
            background: $primary;
            padding: 0 2em;
            .score {
              position: absolute;
              left: 50%;
              &.score-1 {
                @include transform(translateX(-100%));
                padding-right: 1em;
              }
              &.score-2 {
                padding-left: 1em;
              }
            }
          }
        }
      }
    }
  }
}